<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebApplication.AcceptanceTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <specFlow>
    <!-- Possible values include NUnit (default), MsTest, xUnit -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" />
    
    <!-- Other SpecFlow Configuration options. For additional details on the options specified here, 
      see http://cloud.github.com/downloads/techtalk/SpecFlow/SpecFlow%20Guide.pdf
    <language feature="en-US" tool="" />
    
    <generator allowDebugGeneratedFiles="false" />
    
    <runtime detectAmbiguousMatches="true"
      stopAtFirstError="false"
      missingOrPendingStepsOutcome="Inconclusive" />
    
    <trace traceSuccessfulSteps="true"
      traceTimings="false"
      minTracedDuration="0:0:0.1"
      listener="TechTalk.SpecFlow.Tracing.DefaultListener,TechTalk.SpecFlow" />
    -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
  <applicationSettings>
    <WebApplication.AcceptanceTests.Properties.Settings>
      <setting name="PhysicalPath" serializeAs="String">
        <value>..\..\..\WebApplication</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="ContinuousIntegrationEnvironmentSetupTimeout"
        serializeAs="String">
        <value>00:01:00</value>
      </setting>
    </WebApplication.AcceptanceTests.Properties.Settings>
  </applicationSettings>
</configuration>